﻿@using Boyyoka.ViewModels
@model ViewModelWrapper 
<div class="page_splitter"><h2>Wallpapers @Model.PageViewModel.RangeStart - @Model.PageViewModel.RangeEnd</h2></div>
<div class="clear"></div>
<div class="search_result form_wrap">
    @foreach(var wallpaper in Model.WallpapersViewModel)
    {          
        <a href="Wallpaper/@wallpaper.ImageId">
            <div class="dz-preview dz-image-preview">  
                <div class="dz-image">                      
                    <img src="@wallpaper.ThumbnailPath"/>                       
                </div>
                <div class="dz-details">    
                    <div class="dz-resolution">
                        <span>@wallpaper.Resolution</span>
                    </div>
                </div>
            </div>  
        </a>          
    }
</div>
<a class="next" href="@Url.Action("Load", "Search", new { page = ViewBag.Page, q = Model.SearchViewModel.q})"></a> 