﻿@model Boyyoka.ViewModels.SigninViewModel
@{
    ViewBag.Title = "Signin";
}
@{Html.RenderPartial("Header");}
    <title>Sign in</title>
</head>
<body class="overflow_hidden">
    <div id="wrapper">
        <div id="container">
           <div class="logo_wrap">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("/Content/Images/logo.png")">
                </a>
            </div>
        <div class="clear"></div>
        @using (Html.BeginForm("Signin", "User", FormMethod.Post, new { @class="c_form"}))
        {
      
                    @Html.AntiForgeryToken()
                    <div class="form_wrap">
                        <h4>Show me that you're the Boy in the Yoka!</h4>
                
                        @Html.ValidationSummary(true)              
                        <div class="attr_group">
                            @Html.LabelFor(model => model.Username) 
                            <div class="attr_right">                    
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { placeholder = "Enter your desired username"}})
                                @Html.ValidationMessageFor(model => model.Username)
                            </div>
                            <div class="clear"></div>
                        </div>              
                     
                        <div class="attr_group">
                            @Html.LabelFor(model => model.Password) 
                            <div class="attr_right">               
                                @Html.PasswordFor(model => model.Password, new { placeholder = "Enter your password"})
                                @Html.ValidationMessageFor(model => model.Password)
                               
                            </div>
                            <div class="clear"></div>
                        </div>             
                        
                        <div class="attr_group">
                            <div class="attr_right">
                                <input class="c_btn" type="submit" value="Sign in" /> 
                                <p class="acc">No account? Register <a href="@Url.Action("Register", "User", new { returnUrl = (object)ViewBag.ReturnUrl })"><b>here!</b></a></p> 
                            </div>    
                            <div class="clear"></div>    
                        </div>
                        @Html.HiddenFor(model => model.ReturnUrl, (object)ViewBag.ReturnUrl)
                        <div class="frm_div"></div>                 
                    </div>
        
        }
</div>
</body>
</html>
